article :nth-child(1) {
    grid-area: article1;
}

article :nth-child(2) {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
}

article :nth-child(3) {
    grid-area: article2;
}

article :nth-child(4) {
    grid-area: article3;
}

article :nth-child(5) {
    grid-area: article4;
}

article :nth-child(2) img {
    max-width: 100%;
}

article>div {
    padding: 20px;
}

article {
    color: gray;
    max-width: 960px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(150px, auto);
    margin: 20px auto;
    gap: 10px;
    grid-template-areas:
        "article1"
        "article2"
        "image"
        "article3"
        "article4"
    ;
}


@media screen and (min-width:700px) {

    article {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "article1 article2"
            "image article3"
            "image article4"
        ;
    }
}
