input[type=text],
input[type=email],
input[type=number],
select {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 10px;
    /* resize: vertical; */
    outline: none;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=number]:hover,
select:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus,
select:focus {
    border: 1px solid #4dccc6;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}

input[type=submit] {
    background-color: #4dccc6;
    background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    width: 150px;
}

input[type=submit]:hover {
    background-color: #89d8d3;
    background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
}


.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 700px) {

    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
    }

    section {
        padding: 20px 40px;
    }
}
