* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0
}


header {
    height: 200px;
    background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

section {
    max-width: 960px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #fcfcfc;
    padding: 20px 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

section>h2 {
    text-align: center;
}

footer {
    height: 150px;
    margin-top: 50px;
    background-color: rgb(44, 44, 44);
    color: white;
    position: relative;
}

footer>* {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
