* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

main > p {
  color: rgb(35, 35, 35);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

main div {
  width: 150px;
  height: 150px;
  transition: transform 2s ease;
  z-index: 1;
}

main:hover .box1 {
  transform: rotate(90deg);
}

main:hover .box2 {
  transform: rotate(-90deg);
}

main:hover .box3 {
  transform: rotate(-90deg);
}

main:hover .box4 {
  transform: rotate(90deg);
}

.box1 {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  transform-origin: top left;
}

.box2 {
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  transform-origin: top right;
}

.box3 {
  background-image: linear-gradient(to right, #f78ca0 0%, #fe9a8b 100%);
  transform-origin: bottom left;
}

.box4 {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  transform-origin: bottom right;
}
