.bottom-bar {
    display: flex;
    padding: 10px;
    gap: 10px;
    color: white;
}

.bottom-bar>div {
    height: 100%;
    width: 50%;
}

.bottom-bar :first-child {
    display: flex;
    gap: 8px;
}

.bottom-bar-img {
    aspect-ratio: 1 / 1;
    height: 100%;
}

.bottom-bar-song-details {
    font-size: 11px;
    padding: 8px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bottom-bar :last-child>ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}