header {
    display: flex;
    gap: 40px;
    padding: 40px;
}

#header-img {
    aspect-ratio: 1 / 1;
    height: 100%;
}

#header-img img {
    width: 100%;
    height: 100%;
}

#description {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(255, 254, 254);
}

#description-top :first-child {
    margin-bottom: 15px;
    font-weight: 500;
}

#description-top>p {
    font-size: 13px;
    margin-bottom: 5px;
}

#description-bottom {
    display: flex;
}

#description-bottom>p {
    font-size: 11px;
    margin-right: 20px;
}

#description-bottom>p>i {
    margin-right: 5px;
}